@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --palette-color1: #6cbfc7;
  --palette-color2: #99e0da;
  --palette-color3: #061d25;
  --palette-color4: #737a7c;
  --palette-color5: #e5e5e5;
  --secondary1: #3b4e55;
  --secondary2: #51656c;
  --secondary3: #687c83;
  --secondary4: #7e929a;
  --secondary5: #94a9b1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
*::selection {
  background-color: #606266 !important;
}

.scroll-custom *::-webkit-scrollbar {
  width: 10px;
}

.scroll-custom *::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
.scroll-custom *::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

.scroll-custom *::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

body {
  color: var(--foreground);
  background: var(--palette-color5);
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.rdp-today button {
  background-color: #9dedf4;
}
